<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>
<body>
	<img src="/assets/images/burger-151421_640.png" id="burgerImg" />
	{{{body}}}

</body>
</html>