<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour Burger</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>


